.forum__header-user-search { 

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #000;
  }

  &-item-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
}